{{ "<!-- Contact -->" | safeHTML}}

    <section id="contact">
        <div class="inner">
            <section>
                <form name="contact" netlify-honeypot="bot-field" action="thank-you" method="POST" netlify-recaptcha netlify>
                    <p style="display:none">
                        <label>Don’t fill this out: <input name="bot-field"></label>
                    </p>
                    <div class="field half first">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" autocomplete="name"/>
                    </div>
                    <div class="field half">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" autocomplete="email"/>
                    </div>
                    <div class="field">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" rows="6"></textarea>
                    </div>
                    <ul class="actions">
                        <li>
                            <button class="g-recaptcha" data-sitekey="6LeVM2AUAAAAAFV4HEX_MH_YOymlVxdY_mLLzTyu" data-callback='onSubmit'>Submit</button>
                        </li>
                    </ul>
                </form>
            </section>
            <section class="split">
                <section>
                    <div class="contact-method">
                        <span class="icon alt fa-envelope"></span>
                        {{ range .Site.Params.Contact.email }}
                        <h3>{{ .title }}</h3>
                        <a href="{{ .email_url }}" target="_blank">{{ .email }}</a>
                        {{ end }}
                    </div>
                </section>
                <section>
                    <div class="contact-method">
                        <span class="icon alt fa-phone"></span>
                        {{ range .Site.Params.Contact.phone }}
                        <h3>{{ .title }}</h3>
                        <span>{{ .phone }}<br />
                        {{ .phone2 }}</span>
                        {{ end }}
                    </div>
                </section>
                <section>
                    <div class="contact-method">
                        <span class="icon alt fa-home"></span>
                        {{ range .Site.Params.Contact.address }}
                        <h3>{{ .title }}</h3>
                        <span>{{ .street }}<br />
                        {{ .city }}<br />
                        {{ .country }}</span>
                        {{ end }}
                    </div>
                </section>
            </section>
        </div>
    </section>

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>